VITE_SUPABASE_URL=https://bdinmabbfdtydjwadtff.supabase.co
VITE_SUPABASE_PUBLIC_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkaW5tYWJiZmR0eWRqd2FkdGZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE5MDg0MDcsImV4cCI6MjA2NzQ4NDQwN30.glce97Z38Tjie2Bh2B75ICPqiZ0-JCyYguKmT6wR6bM
VITE_BACKEND_URL=http://localhost:3001
VITE_SENTRY_DSN=
VITE_SENTRY_ENV=local
VITE_SENTRY_TRACES_SAMPLE_RATE=0.02
VITE_APP_BUILD=dev
